@media (min-width: 69em) {
  body header .hero {
    max-width: 48em;
  }
  body .widgets {
    max-width: 75em;
  }
  body .widgets section:before {
    display: none;
  }
  body .widgets section:nth-child(3n+0) {
    margin-left: 1em;
  }
  body .widgets section:nth-child(3n+1) {
    margin-left: 6em;
  }
  body .widgets section:nth-child(3n+1):before {
    display: block;
    margin-left: -4em;
  }
  body .widgets section:nth-child(3n+2) {
    margin-left: 1em;
  }
  body .multi article:nth-child(3n+0),
  body .multi article:nth-child(3n+1) {
    margin-left: 1em !important;
  }
  body .multi article:nth-child(3n+2) {
    margin-left: 6em !important;
  }
}
