@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,900);

@import "variables";

* {
	box-sizing: border-box;
}

::selection {
    color: white;
    background: red;
}

body {
	background: #fff;
	font-family: @fontstack_sans;
	font-weight: 300;
	font-size: 1em;
	margin: 0;
	line-height: 1.4;
}

	a {
		&:link,
		&:visited {
			color: red;
			text-decoration: none;
			font-weight: 600;
		}

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	h1 {
		font-size: 1.5em;
		font-weight: 600;
	}

	p {
		margin: 0 0 1em;
	}

	img {
		max-width: 100%;
		height: auto;
	}

.logo {
	position: relative;
	display: block;
	width: 5em;
	height: 5em;
	text-indent: -1000em;
	background-color: red;
	background-image: url( ../svg/Logomark.svg );
	background-size: 3em;
	background-repeat: no-repeat;
	background-position: center;
	top: 2em;
	z-index: 10;
}

	header {

		.hero {
			position: absolute;
			height: 23em;
			top: 0;
			width: 100%;
			background-size: cover;
			background-position: center;
			z-index: 1;

			&#map {
				height: 22em;
				font-size: 12pt;

				* {
					font-size: 9pt;
				}
			}
		}
	}

	header + section {
		background-color: white;

		&:before {
			display: none;
		}
	}

.posts,
.widgets {
	margin-left: -1em;

	.post {
		display: inline-block;
		margin-right: 0;
		vertical-align: top;
		padding-left: 1em;
		position: relative;
		margin-bottom: 1.4em;
	}
}

.h2 {
	font-size: 14pt;
	font-weight: 600;
	margin: 0;
}

.wrap {
	max-width: 69em;
}

	@media screen and (max-width: @breakpoint_lap_max ) {

		.wrap,
		#intro {
			background: #fff;
			z-index: 2;
			position: relative;
			margin: 0 1em;
			padding: 1em;
		}

		#intro {
			margin-top: 6em;
		}
	}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

#intro {
	padding-right: 1em;

	h1 {
		margin: 0;
	}
}

input,
button {
	font-family: @fontstack_sans;
	width: 100%;
	padding: .5em;
	font-size: 1em;
	-webkit-appearance: none;
	border-radius: 0;
}

input[type="email"] {
	&:focus {
		outline: .25em solid lime;
	}
}

.btn {
    font-weight: 600;
    color: #fff;
    background: red;
    border-radius: 0;
	border-color: red !important;
}

@import "page";
@import "post";
@import "comments";
@import "media-palm";
@import "media-lap";
@import "media-desk";
@import "admin";
@import "widgets";

/**
 * Atoms
 */

.screen-reader-text {
	border:0;
	clip:rect(0 0 0 0);
	height:1px;
	margin:-1px;
	overflow:hidden;
	padding:0;
	position:absolute;
	width:1px;
}