.single {
	.wrap {
		margin-top: 4.6em;
		padding-top: 1em;

		@media screen and (min-width: @breakpoint_lap) {
			margin-top: 3.8em;
    		padding-top: 0;
		}
	}
}

.post {
	margin-bottom: 1.5em;

	header {
		margin-bottom: 1em;
	}

	h1 {
		margin: 0;
	}

	.h2 {
		a {
			color: currentColor;
		}
	}

	p {
		font-size: 11pt;
	}
}

.post--thumbnail {
	display: none;

	@media screen and (min-width: @breakpoint_lap ) {
		display: block;
		float: right;
		outline: 1px solid red;
		width: calc(~"100% - "@colw);
		margin: -5.6em 0 1.5em 1em;
	}

}

.post__event {

	h1 {
		font-size: 14pt;
		font-weight: 600;
		max-width: 70%;

		a {
			color: currentColor;
		}
	}

	span {
		position: absolute;
		top: 0;
		right: 0;
		background-color: grey;
		color: white;
		border-radius: .2em;
		padding: .2em .5em;
		font-size: 10pt;
	}
}


.nav-links {
	padding: 1em;
	display: flex;
	max-width: 21.9em;
	justify-content: space-between;
}