.post__event {
	p {
		font-size: 11pt;
	}

	h1 {
		font-size: 14pt;
		font-weight: 600;
		margin: 0;
		max-width: 70%;
	}

	span {
		position: absolute;
		top: 0;
		right: 0;
		background-color: grey;
		color: white;
		border-radius: .2em;
		padding: .2em .5em;
		font-size: 10pt;
	}
}
