@media (min-width: 69em) {
  body header .hero {
    max-width: 48em;
  }
  body div {
    max-width: 75em;
  }
  body div.singles section {
    margin-left: 1em;
  }
  body div.singles section:before {
    display: none;
  }
  body div.singles section:nth-child(3n+1) {
    margin-left: 6em !important;
  }
  body div.singles section:nth-child(3n+1):before {
    display: block;
    margin-left: -4em;
  }
  body div.multi article {
    margin-left: 1em;
  }
  body div.multi article:nth-child(3n+2) {
    margin-left: 6em;
  }
}
